
{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}


{% block content %}



<div class="container mt-4">
    <div class="row">
      <div class="col-md-10">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="">Expenses</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              My Expenses
            </li>
          </ol>
        </nav>
      </div>
  
     
    </div>
    
    <div class="col-md-2 mt-5 mb-4"  >
      <a href="{% url 'add-expense'%}" class="btn btn-md btn-primary" style="background-color: rgb(85, 71, 54);color:white;"  > <i class="fa-solid fa-plus"></i> Add Expense </a>
    </div>
    <br><br><br>
   
    <div class="container">
        {% include 'partials/messages.html' %} {% if expenses.count %}
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-4">
    
            <div class="form-group mt-4">
              <input type="text" class="form-control" id="searchField" placeholder="Search" style="  border-radius: 5px;">
            </div>
          </div>
        </div>
       
        <caption><h4>Expenses Record</h4></caption>
    <div class="app-table table-responsive mt-2" >
      
      <table class="table table-hover  bordered  table-warning "  >
       
        <thead class="thead-dark" >
          <tr>
            <th >Amount</th>
            <th >Category</th>
            <th >Description</th>
            <th >Date</th>
            <th ></th>
          </tr>
        </thead>
    
        <tbody class="">
          {% for expense in page_obj%}
          <tr>
            <td>{{expense.amount}}</td>
            <td>{{expense.category}}</td>
            <td>{{expense.description}}</td>
            <td>{{expense.date}}</td>
    
            <td>
              <a
                href="{% url 'expense-edit' expense.id  %}"
                class="btn btn-secondary btn-sm mb-3" style="background-color: rgb(218, 174, 121);color:whitesmoke;" 
                >Edit</a
              >
            </td>
          </tr>
    
          {% endfor %}
        </tbody>
      </table>
      
    </div>

   
    <p class="no-results" style="display: none;">No results </p>
    
        <div class="table-output mt-5">
       
          <caption class="mt-2"><h4>Search Results</h4></caption>
          <table class="table table-stripped table-hover table-warning">
            
            <thead>
              <tr>
                <th>Amount </th>
                <th>Category</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
    
            <tbody  class="table-body">
    
    
            </tbody>
          </table>
        </div>
    
    
        <div class="pagination-container">
        <div class="" style="font-weight: 800;">
          Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
        </div>
        <ul  class="pagination align-right float-right mr-auto mt-3" style="background-color: rgb(255, 252, 240); box-shadow: none;" >
          {% if page_obj.has_previous %}
          <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a  style="background-color:  rgb(85, 71, 54); color:aliceblue;"   class="page-link" href="?page=1">&laquo; 1</a></li>
          <li class="page-item"> <a  style="background-color: rgb(85, 71, 54) ;  color:aliceblue;" class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
    
          {% if page_obj.has_next %}
          <li class="page-item"> <a  style="background-color: rgb(85, 71, 54); color:aliceblue;"  class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"> <a  style="background-color: rgb(85, 71, 54) ; color:aliceblue; " class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
          {% endif %}
    
    
          </ul>

        {% else %}
        <p class="no-results" style="display: block; ;" >No results  found</p>
        {% endif %}
      </div>
    </div>
    {% if expenses.count %}
    <div class="row">
      <div class="col-md-8 "  > 
        <br> <br> <br>
   
        <a class="btn btn-secondary mt-2"  href="{% url 'export-csv' %}"  style="background-color: rgb(117, 22, 136); color: whitesmoke;" >Export as CSV</a>
        <a  class="btn btn-secondary mt-2" href="{% url 'export-pdf' %}" style="background-color: rgb(17, 89, 184); color: whitesmoke;" >Export as PDF</a>
        <a  class="btn btn-secondary mt-2" href="{% url 'export-excel' %}" style="background-color: rgb(83, 128, 79); color: whitesmoke;" >Export as Excel sheet </a>
      
      </div>
    </div>
    {% endif %}


   
    
    <script src="{% static 'js/searchExpenses.js' %}"></script>
{% endblock content %}

