{% extends "base_auth.html" %}
{% load static %}

{% block title %}Reset Password{% endblock title %}
{% block content %}


<div class="row">
   <div class="col-md-3"></div>
   <div class="col-md-6">

      <div class="card mt-5 p-5" style="background-color: antiquewhite; box-shadow: 5px 10px 5px #e2e2e2; ">
        

         <div class="card-body" >
            <div class="card-title py-3">
               <h4 class="mb-2">Please enter your registered email to  reset your password</h4>
            </div>
            <form action="{% url 'reset-passwd' %}" method="post">
               {% include 'partials/messages.html'%}
               {% csrf_token %}
               <div class="form-group mb-2">
                  
                  <input type="email" name="email" placeholder="Enter  email address" id="email-field"
                     class="form-control form-control-sm mb-4"  value="{{values.email}}">
                     <div class=" emailFeedBackArea invalid-feedback " style="display:none">
                     </div>
                  
                  <div class="text-center mt-4 pt-3">
                     <button type="submit"  class="btn btn-dark" style="background-color:rgb(85, 71, 54);">Send Reset Link</button>
                  </div>

               </div>
            </form>


         </div>

         <span>Already have account? <a href="{% url 'login'%}">Login here</a>  </span>

      </div>
   </div>

   <div class="col-md-3"></div>
</div>





{% endblock content %}

